<div class="card p-3">
  <div class="table-header">
    <h4 class="table-title text-center mt-3">{{title}}</h4>
  </div>
  <div class="text-left">
    <div id="search-input-container">
      <label>
        <input type="search" id="search-input" class="form-control mb-2" placeholder="Search data" v-model="searchInput">
      </label>
      <div class="actions float-right pr-4 mb-3">
        <!--<a href="javascript:undefined" class="btn btn-info" v-if="this.exportable" @click="exportExcel" title="export excel">
          <i class="fa fa-download"></i>
        </a>-->
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table ref="table" class="table">
      <thead>
      <tr>
        <th>
          No
        </th>
        <th v-for="(column, index) in columns" @click="sort(index)" :class="(sortable ? 'sortable' : '')
                            + (sortColumn === index ?
                                (sortType === 'desc' ? ' sorting-desc' : ' sorting-asc') : '')" :style="{width: column.width ? column.width : 'auto'}">
          {{column.label}} <i class="fa float-right" :class="(sortColumn === index ?
                                (sortType === 'desc' ? ' fa fa-angle-down' : ' fa fa-angle-up') : '')"></i>
        </th>
        <th>관리</th>
        <slot name="thead-tr"></slot>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(row, index) in paginated" @click="click(row, index)">
        <td>
          {{processedRows.length - ((currentPage-1) * currentPerPage + (index)) }}
        </td>
        <template v-for="column in columns">
          <td :class="column.numeric ? 'numeric' : ''" v-if="!column.html">
            {{ collect(row,column.field) }}
          </td>
          <td :class="column.numeric ? 'numeric' : ''" v-html="collect(row, column.field)" v-if="column.html">
          </td>
        </template>
        <td>
          <a href="#" >
            <i class='fa fa-pencil text-info mr-3'></i>
          </a>
          <a href="#" @click.prevent="deleteDataFnc(row, index)">
            <i class='fa fa-trash text-danger'></i>
          </a>
        </td>
        <slot name="tbody-tr" :row="row"></slot>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="table-footer" v-if="paginate">
    <div class="datatable-length float-left pl-3">
      <span>Rows per page:</span>
      <select class="custom-select" v-model="currentPerPage">
        <option v-for="len in pagelen" :value="len">{{len}}</option>
        <option value="-1">All</option>
      </select>
      <div class="datatable-info  pb-2 mt-3">
        <span>Showing </span> {{(currentPage - 1) * currentPerPage ? (currentPage - 1) * currentPerPage : 1}} -{{currentPerPage==-1?processedRows.length:Math.min(processedRows.length, currentPerPage * currentPage)}} of {{processedRows.length}} <span>records</span>
      </div>

    </div>
    <div class="float-right">
      <ul class="pagination">
        <li class="page-item" :class="{ disabled : isBigPrevPage }"><a class="page-link" @click.prevent="moveCurrentPage(currentPage - pagingPerCnt)" href="#"><<</a></li>
        <li class="page-item" :class="{ disabled : isPrevPage }"><a class="page-link" @click.prevent="moveCurrentPage(currentPage - 1)" href="#"><</a></li>

        <li class="page-item" v-for = "value in pageNation" :class="{active : isCurrentPage(value)}"><a class="page-link" href="#" @click.prevent="moveCurrentPage(value)">{{value}}</a></li>

        <li class="page-item" :class="{ disabled : isNextPage }"><a class="page-link" @click.prevent="moveCurrentPage(currentPage + 1)" href="#">></a></li>
        <li class="page-item" :class="{ disabled : isBigNextPage }"><a class="page-link" @click.prevent="moveCurrentPage(currentPage + pagingPerCnt)" href="#">>></a></li>
      </ul>
      <ul class="pagination">
        <li>
          <a href="javascript:void(0)" class="btn link" @click.prevent="previousPage" tabindex="0">
            >>
            <i class="fa fa-angle-left"></i>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="btn link" @click.prevent="nextPage" tabindex="0">
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>


</div>
