<!-- Left side column. contains the logo and sidebar -->
<aside class="left-aside sidebar-offcanvas">
  <!-- sidebar: style can be found in sidebar -->
  <section class="sidebar">
    <div id="menu" role="navigation">
      <div class="nav_profile">

      </div>
      <vmenu>
        <vmenu-item link="/" icon="ti-desktop">
          &nbsp; Dashboard
        </vmenu-item>
        <vsub-menu title="게시판" icon="ti-layout-grid4">
          <vmenu-item link="/list-tables" icon="ti-list">
            &nbsp; 리스트형
          </vmenu-item>
          <vmenu-item link="/gallery-tables" icon="ti-gallery">
            &nbsp; 겔러리형
          </vmenu-item>
        </vsub-menu>
      </vmenu>
      <!-- / .navigation -->
    </div>
    <!-- menu -->
  </section>
  <!-- /.sidebar -->
</aside>
