
<section class="pagenation">
  <div id="pagination">
    <div>
      Records: {{records}} || Total Pages: {{TotalPages}} || current Page : {{currentPage}}
    </div>
    <div class="text-center">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#" @click.prevent="selectedItems()"><<</a></li>
        <li class="page-item"><a class="page-link" href="#" @click.prevent="selectedItems()"><</a></li>
        <li class="page-item"><a class="page-link" href="#" @click.prevent="selectedItems()">1</a></li>
        <li class="page-item"><a class="page-link" href="#" @click.prevent="selectedItems()">2</a></li>
        <li class="page-item"><a class="page-link" href="#" @click.prevent="selectedItems()">3</a></li>
        <li class="page-item"><a class="page-link" href="#" @click.prevent="selectedItems()">></a></li>
        <li class="page-item"><a class="page-link" href="#" @click.prevent="selectedItems()">>></a></li>
      </ul>
    </div>
  </div>
</section>

