<section class="table-module">
  <p>{{boardType}}</p>
  <div id="boardList"  v-if="viewType == 'list'">
    <table class="table">
      <thead>
      <tr>
        <th>No</th>
        <th>제목</th>
        <th>글쓴이</th>
      </tr>
      </thead>
      <tbody >
      <tr v-for = "(item,index) in items" :item='item' v-on:click="detail(item)" >
        <td>{{index + 1}}</td>
        <td>{{item.title}}</td>
        <td>{{item.nick}}</td>
      </tr>
    </tbody>
    </table>
  </div>

  <paging-module
    :records="items.length"
    :per-page = "perPage"
  ></paging-module>

</section>



<!--
  <div id="boardDetail"  v-if="viewType == 'detail'">
    <table class="table">
      <tr>
        <th>제목</th>
        <th><input type="text" class="form-control" v-model="selectedArticle.title"></th>
      </tr>
      <tr>
        <th>내용</th>
        <th><input type="text" class="form-control" v-model="selectedArticle.content"></th>
      </tr>
    </table>

    <div>
      <button type="button" class="btn btn-primary" v-on:click="modify(selectedArticle)">수정</button>
      <button type="button" class="btn btn-danger" v-on:click="changeViewType('list')">취소</button>
    </div>
  </div>

-->
