.board{
    border-collapse: collapse;

    &.board-basic{
        width: 100%;
        border: 1px solid rgb(201, 201, 201);
        border-width: 1px 0;
        
        & thead th {
            background-color: rgb(245, 245, 245);
            font-weight: bold;
            color: #333;
        }
        & th, & td {
            padding: 1%;
            text-align: center;
            vertical-align: middle;
            
            &:nth-child(1){
                width: 5%;
            }
            &:nth-child(2){
                width: 8%;
            }
            &:nth-child(4){
                width: 18%;
            }
            &:nth-child(5){
                width: 15%;
            }

            a {
                position: relative;
                display: inline-block;
                padding: 5px;
                white-space: nowrap;
                text-decoration: none;
                transition: color 0.5s;
                color: rgb(27, 130, 170);
                letter-spacing: -1px;

                &:after{
                    transition: width 0.3s;
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 1px;
                    background: rgb(85, 185, 127);
                }
            }
            a:active, a:hover {
                color: rgb(85, 185, 127);

                &:after{
                    width: 100%;
                }
            }
        }
    }
}