<header class="header">
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light" style="height:54.75px;">
      <router-link to="/" class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        <h1>Logo</h1>
      </router-link>
      <div class="navbar-collapse">
        <!-- Sidebar toggle button -->
        <div>
          <a href="javascript:void(0)" class="navbar-btn sidebar-toggle" @click="toggle_left" role="button">
            <i class="fa fa-fw fa-bars"></i>
          </a>
        </div>
      </div>
    </nav>
  </header>
</header>

